<f:layout name="Default"/>

<f:section name="Title">Edit blog "{blog.title}"</f:section>

<f:section name="Content">
    <f:form actionUri="/blog/update"
            controller="Blog"
            object="{blog}"
            objectName="blog">
        <ol>
            <li>
                <label for="title">Title</label>
                <f:form.textfield property="title"
                                  id="title"/>
            </li>
            <li>
                <label for="description">Description</label>
                <f:form.textfield property="description"
                                  id="description"/>
            </li>
            <li>
                <f:form.submit value="Update"/>
            </li>
        </ol>
    </f:form>
</f:section>
