<f:layout name="Default"/>

<f:section name="Title">A list of blogs</f:section>

<f:section name="Content">
    <f:if condition="{blogs}">
        <f:then>
            <ul>
                <f:for each="{blogs}" as="blog">
                    <a href="/blog/show?blog={blog.uuid}">{blog.title}</a>
                    <li>
                        <a href="/blog/edit?blog={blog.uuid}">Edit</a>
                        <f:form actionUri="/blog/delete?blog={blog.uuid}"
                                controller="Blog"
                                arguments="{blog: blog}">
                            <f:form.submit value="Delete"/>
                        </f:form>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p>No blogs created yet.</p>
        </f:else>
    </f:if>
    <p><a href="/blog/new">Create a new blog</a></p>
</f:section>
