<f:layout name="Default"/>

<f:section name="Title">New blog</f:section>

<f:section name="Content">
    <p>Just fill out the following form to create a new blog:</p>
    <f:form actionUri="/blog/create"
            objectName="newBlog">
        <ol>
            <li>
                <label for="title">Title</label>
                <f:form.textfield property="title"
                                  id="title"/>
            </li>
            <li>
                <label for="description">Description</label>
                <f:form.textfield property="description"
                                  id="description"/>
            </li>
            <li>
                <f:form.submit value="Create"/>
            </li>
        </ol>
    </f:form>
</f:section>
