<f:layout name="Default"/>

<f:section name="Title">Show blog"{blog.title}"</f:section>

<f:section name="Content">
    <table>
        <tr>
            <th>Title</th>
            <td>{blog.title}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{blog.description}</td>
        </tr>
        <tr>
            <th>Posts</th>
            <f:for each="{blog.posts}" as="post">
        <tr>
            <td>{post.subject} {post.author}</td>
            <td>{post.date -> f:format.date(format: 'Y-m-d H:i')}</td>
        </tr>
        </f:for>
        </tr>
    </table>
    <p><a href="/post/new?blog={blog.uuid}">Create a new post</a></p>
    <a href="/blog/index">Back</a>
</f:section>
