<f:layout name="Default"/>

<f:section name="Title">Edit post "{post.subject}"</f:section>

<f:section name="Content">
    <f:form actionUri="/post/update"
            object="{post}"
            objectName="post">
        <ol>
            <li>
                <label for="blog">Blog</label>
                <f:form.textfield property="blog"
                                  id="blog"/>
            </li>
            <li>
                <label for="subject">Subject</label>
                <f:form.textfield property="subject"
                                  id="subject"/>
            </li>
            <li>
                <label for="date">Date</label>
                <f:form.textfield type="datetime"
                                  value="{post.date -> f:format.date(format: 'Y-m-d\TH:i:sP')}"
                                  property="date" id="date"/>
            </li>
            <li>
                <label for="author">Author</label>
                <f:form.textfield property="author"
                                  id="author"/>
            </li>
            <li>
                <label for="content">Content</label>
                <f:form.textfield property="content"
                                  id="content"/>
            </li>
            <li>
                <f:form.submit value="Update"/>
            </li>
        </ol>
    </f:form>
</f:section>
