<f:layout name="Default" />

<f:section name="Title">A list of posts</f:section>

<f:section name="Content">
    <f:if condition="{posts}">
        <f:then>
            <ul>
                <f:for each="{posts}" as="post">
                    <a href="/post/show?post={post.uuid}">{post.subject}</a>
                    <li>
                        <a href="/post/show?post={post.uuid}">{post.name}</a>
                        <a href="/post/edit?post={post.uuid}">Edit</a>
                        <f:form actionUri="/post/delete?post={post.uuid}"
                                controller="Post"
                                arguments="{post: post}">
                            <f:form.submit value="Delete" />
                        </f:form>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p>No posts created yet.</p>
        </f:else>
    </f:if>
    <p><a href="/post/new">Create a new post</a></p>
</f:section>
