<f:layout name="Default"/>

<f:section name="Title">New post</f:section>

<f:section name="Content">
    <p>Just fill out the following form to create a new post:</p>
    <f:form actionUri="/post/create" objectName="newPost">
        <ol>
            <li>
                <label for="blog">Blog</label>
                <f:form.textfield property="blog"
                                  value="{f:if(condition: blog, then: '{blog.uuid}')}"
                                  id="blog"/>
            </li>
            <li>
                <label for="subject">Subject</label>
                <f:form.textfield property="subject" id="subject"/>
            </li>
            <li>
                <label for="date">Date</label>
                <f:form.textfield type="datetime"
                                  value="{f:format.date(date: 'now', format: 'Y-m-d\TH:i:sP')}"
                                  property="date"
                                  id="date"/>
            </li>
            <li>
                <label for="author">Author</label>
                <f:form.textfield property="author" id="author"/>
            </li>
            <li>
                <label for="content">Content</label>
                <f:form.textfield property="content" id="content"/>
            </li>
            <li>
                <f:form.submit value="Create"/>
            </li>
        </ol>
    </f:form>
</f:section>
