<f:layout name="Default"/>

<f:section name="Title">Show post"{post.subject}"</f:section>

<f:section name="Content">
    <table>
        <tr>
            <th>Blog</th>
            <td><a href="/blog/show?blog={post.blog.uuid}">{post.blog.title}</a></td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>{post.subject}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{post.date -> f:format.date(format: 'Y-m-d H:i')}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{post.author}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{post.content}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <f:for each="{post.comments}" as="comment">
                <td>{comment.content} {comment.author}</td>
            </f:for>
        </tr>
        <tr>
            <th>Tags</th>
            <f:for each="{post.tags}" as="tag">
                <td>{tag.name}</td>
            </f:for>
        </tr>
    </table>
    <a href="/post/index">Back</a>
</f:section>
